<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List'um</title>
    <!-- bootstrap CDN https://getbootstrap.com -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- google font Bebas Neue designed by Ryoichi Tsunekawa -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <!-- font awesome 5 https://fontawesome.com-->
    <script src="https://kit.fontawesome.com/e27bed0f42.js" crossorigin="anonymous"></script>
    <!-- Material Icons Guide https://google.github.io/material-design-icons/-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Vue 掛載點 -->
    <div id="app">
        <div class="jumbotron jumbotron-fluid" style="background-color: #221e62; color:white;">
            <div class="container text-center">
                <h1 class="display-4" style="font-family: 'Bebas Neue', cursive;">List'um<span style="font-size:0.5em;color:#f2eecb;">&nbsp;(vue_framework)</span></h1>
                <p class="lead" style="color:#cccccc;display:inline-block;text-align: left;">
                    
                    Copyright (c) 2021, Yeh,Chun-Chen.  All rights reserved.
                    <br>Copyrights licensed under the MIT License.
                </p>
            </div>
        </div>
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3 style="font-family: 'Roboto Mono', monospace;">Add Schedule_</h3>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-astronaut"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter Title" v-model="newNote.name">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-tasks"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter Description" v-model="newNote.content">
                            </div>
                            <button class="btn btn-outline-primary" v-on:click='addNote'>
                                Send
                            </button>

                        </div>
                    </div>
                </div>
                 <!-- Modal 刪除彈出視窗-->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">{{noteSelected.name}} selected.. </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>Do you want to delete {{noteSelected.content}} from catalogue?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" v-on:click="deleteNote(noteSelected)">Delete</button>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h3 class="text-center" style="font-family: 'Roboto Mono', monospace;">Catalogue</h3>
                    <table class="table table-striped">
                        <thead>
                          <tr class="text-center">
                            <th scope="col">Name</th>
                            <th scope="col">Content</th>
                            <th scope="col">Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="note of notes">
                            <th scope="row" class="text-center">{{note.name}}</th>
                            <td>{{note.content}}</td>
                            
                            <td class="text-center">
                                <!-- Button trigger modal -->
                                <button type="button" 
                                        class="btn btn-danger btn-sm btn-circle" 
                                        v-on:click="selectNote(note)"
                                        data-toggle="modal" data-target="#deleteModal">
                                    <i class="material-icons">remove</i>
                                </button>
                            </td>
                          </tr> 
                        </tbody>
                      </table>
                </div>
            </div>
        </div>   
    </div>

   

    <!-- Vue CDN  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>    
    <!-- Vue Instance-->
    <script>
        new Vue({
            el:'#app',
            data:{
                noteSelected:{
                    name:'',
                    content:''
                },
                newNote:{  // store new input
                    name:'',
                    content:''
                },
                notes:JSON.parse(localStorage.getItem('notes')) || [] //store catelogue content
            },
            watch:{
                notes:{
                    handler:'saveNotes',
                    deep:true
                }
            },
            methods:{
                selectNote(note){
                    this.noteSelected.name = note.name;
                    this.noteSelected.content = note.content;
                },
                addNote(){
                    //check if user filled both bars
                    if(this.newNote.name.trim().length == 0 || this.newNote.content.trim().length == 0){
                        alert('Make sure all boxes are filled!');
                        return
                    }
                    // create object: note
                    const note = {
                        name: this.newNote.name,
                        content:this.newNote.content,
                        created: new Date()
                    }
                    this.notes.push(note);
                    this.newNote.name='';
                    this.newNote.content='';
                },
                deleteNote(note){
                    console.log('deletenote start');
                    var found = false;
                    for (var i=0; i < this.notes.length; i++){
                        if(this.notes[i].name == note.name){
                            console.log("found");
                            found = true;
                            break;
                        }
                    }
                    if(found){
                        console.log('prepare splice');
                        this.notes.splice(i,1)
                    }
                    $('#deleteModal').modal('hide')
                    
                },
                saveNotes(){
                    localStorage.setItem('notes',JSON.stringify(this.notes))
                }
            }
        })
    </script>
</body>
</html>
